# xtpms C++ style (matches existing PeriodicMesh / VertexGeometry sources)
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: false
Standard: c++17
